.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703B09;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

@media (max-width: 499px) {
  .DesktopOnly {
      display: none;
  }
}

.DrawerToggle {
  width: 40px;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.DrawerToggle div {
  width: 90%;
  height: 3px;
  background-color: white;
}

@media (min-width: 500px) {
  .DrawerToggle {
      display: none;
  }
}


.Toolbar__Logo__24rue {
  height: 80%;
}

.Logo__Logo__2A07e {
  background-color: #fff;
  padding: 8px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
}

.Logo__Logo__2A07e img {
  height: 100%;
}
.Toolbar__Toolbar__2hkfg nav {
  height: 100%;
}

.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}

@media (min-width: 500px) {
  .NavigationItems {
      -ms-flex-flow: row;
          flex-flow: row;
  }
}

.NavigationItem {
  margin: 10px 0;
  background-color: #703B09;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
}

.NavigationItem a {
  color: #8F5C2C;
  text-decoration: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #40A4C8;
}

@media (min-width: 500px) {
  .NavigationItem {
      margin: 0;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: auto;
      -ms-flex-align: center;
          align-items: center;
  }

  .NavigationItem a {
      color: white;
      height: 100%;
      padding: 16px 10px;
      border-bottom: 4px solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
      background-color: #8F5C2C;
      border-bottom: 4px solid #40A4C8;
      color: white;
  }
}
